h2 {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #000;
}

.table__row__head {
  background-color: #000;
}

.table_row__head_title {
  color: white;
  padding: 1rem;
  text-align: left;
}

.container__table {
  border-collapse: collapse;
  text-align: left;
  margin: 0 4rem;
}
 th, td {
  padding: 8px;
}

.container__table tr:nth-child(even){background-color: #f2f2f2;}

.container__table tr:not(:first-child):hover {background-color: #ddd;}


